html,
body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

footer {
  display: block;
  color: #ffffff;
}

footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

.navbar {
  color: #ffffff;
}

.title-admin {
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #ffffff;
}

.card {
  margin: auto;
  margin-bottom: 2rem;
  height: 28rem;
  width: 15rem;
}

h4 {
  font-size: 1.2rem;
}

.card-body p {
  font-size: 20px;
  color: #05c015;
}

.cardCartas {
  margin-top: 2rem;
}

.bg-gradient {
  background-color: #000000;
  background-image: linear-gradient(180deg, #1a203f 10%, #434447 100%);
  background-size: cover;
}

.bg-gradient-light {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 10%, #cdcfd6 100%);
  background-size: cover;
}

.bg-black {
  background-color: #000000;
}

.aling-text-center {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-header {
  display: block;
}

.modal-title {
  margin-bottom: 1.5rem;
}

.result-zero {
  text-align: center;
  padding: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-color: #000000;
  background-size: 100%, 100%;
  border-radius: 50%;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Yeon Sung", cursive;
}

.navbar-nav li {
  margin-left: 2.5rem;
}

#navbarDropdownMenuLink {
  color: #ffffff;
}

.link-carrinho sup {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  background: #00ff3c;
  padding: 1px 6px;
  border-radius: 100%;
}

.body404 {
  background-color: #2068b4;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
}

.title-error {
  padding-top: 7rem;
}

.title-error span {
  font-size: 10rem;
}

.title-error h1 {
  margin-top: 2rem;
}

.text-error {
  font-size: 1.2rem;
}

.text-error a {
  text-decoration: none;
  color: #00ff3c;
  font-weight: bold;
}

.msg-carrinho {
  padding-bottom: 14rem;
  padding-top: 14rem;
  text-align: center;
  width: 100%;
}

.msg-carrinho button {
  margin: 2rem;
}

.msg-carrinho span {
  font-size: 1.4rem;
}
.aling-icon {
  width: 100%;
  text-align: center;
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 100%;
}

.result-total-pedido {
  width: 100%;
}

.total-carrinho span {
  font-weight: bold;
  font-size: 1.4rem;
}

.remove-item-carrinho {
  background-color: transparent;
  border: none;
  color: #ff0000;
}

.table-carrinho td, .table-carrinho tr {
  vertical-align: middle;
  text-align: center;
}

.table-carrinho td {
  width: 15%;
}

.input-qt {
  text-align: center;
  width: 50%;
}

@media (max-width: 768px) {

  .card {
    margin: auto;
    margin-bottom: 2rem;
    height: 25rem;
    width: 10rem;
  }

  .navbar-nav li {
    margin-left: 0.2rem;
  }
}
